extends: default

rules:
  line-length: disable
  document-start: disable
  truthy: disable
  comments: disable

  indentation:
    indent-sequences: consistent

  trailing-spaces:
    level: warning

  new-lines: disable
  new-line-at-end-of-file: disable
  empty-lines: disable